<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".mainView.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/my_healthbody_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/my_healthbody_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHealthyBody"
        tools:targetApi="31">
        <activity
            android:name=".diary.view.EditExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".diary.view.DetailExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".setting.view.ChangePWActivity"
            android:exported="false" />
        <activity
            android:name=".setting.view.ReauthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".gallery.view.AddPictureActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".diary.view.SelectSetActivity"
            android:exported="false" />
        <activity
            android:name=".diary.view.ChooseExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".healthTraining.view.HealthItemClickedActivity"
            android:exported="false" />
        <activity
            android:name=".mainView.MainViewActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".login.view.PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login.view.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".login.view.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".mainView.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>